@keyframes glow-blue {
    0% {
        box-shadow: 0 0 5px rgba(0, 0, 255, 0.7);
    }
    50% {
        box-shadow: 0 0 20px rgba(0, 0, 255, 0.7);
    }
    100% {
        box-shadow: 0 0 5px rgba(0, 0, 255, 0.7);
    }
}

@keyframes glow-red {
    0% {
        box-shadow: 0 0 5px rgba(255, 0, 0, 0.7);
    }
    50% {
        box-shadow: 0 0 20px rgba(255, 0, 0, 0.7);
    }
    100% {
        box-shadow: 0 0 5px rgba(255, 0, 0, 0.7);
    }
}

/* Apply the glowing effect to the buttons on hover */
.eg-btn.btn-glow-blue:hover {
    animation: glow-blue 1s infinite;
}

.eg-btn.btn-glow-red:hover {
    animation: glow-red 1s infinite;
}
@keyframes glow-green {
    0% {
        box-shadow: 0 0 5px rgba(0, 255, 0, 0.7);
    }
    50% {
        box-shadow: 0 0 20px rgba(0, 255, 0, 0.7);
    }
    100% {
        box-shadow: 0 0 5px rgba(0, 255, 0, 0.7);
    }
}

/* Apply the glowing effect to the button on hover */
.eg-btn.btn-glow-green:hover {
    animation: glow-green 1s infinite;
}
