<app-sidebar></app-sidebar>


    <!-- ========== team start============= -->
<div class="contact-section bg-color2 pt-120 pb-120 mb-44">
  <div class="container">
      <div class="row justify-content-center gy-5">
          <div class="col-xl-7 col-lg-6 col-md-6 col-sm-10 mx-auto"> <!-- Add mx-auto class for horizontal centering -->
              <h3 class="form-title">Login or signup</h3>
              <form class="contact-me-form">
                  <div class="row">
                      <div class="col-lg-6">
                          <div class="form-inner">
                              <input type="text" placeholder="Enter your username">
                          </div>
                      </div>
                      <div class="col-12">
                          <button type="submit" class="eg-btn btn--primary btn--lg btn-glow-blue"><i class="fab fa-facebook-f"></i>Login with Facebook</button>
                      </div>
                      <div class="col-12" style="margin-top: 10px;">
                          <button type="submit" class="eg-btn btn--primary btn--lg btn-glow-red"><i class="fab fa-google"></i>Login with Gmail</button>
                      </div>
                      <div class="col-12" style="margin-top: 10px;">
                          <button type="submit" class="eg-btn btn--primary btn--lg btn-glow-green">Continue</button>
                      </div>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>


    <app-footer></app-footer>