@keyframes lightStreak {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5; /* Réglez l'opacité désirée pour l'état de concentration */
    }
}

.letter {
    display: inline-block;
    animation: lightStreak 5s ease-in-out infinite;
}


/* Apply the blue glow effect to the login-button */
.login-button {
    background: transparent; /* Set the background to transparent */
    color: #2196F3; /* Set the text color to blue */
    border: 2px solid transparent; /* Add a transparent border */
    box-shadow: 0 0 10px 2px #2196F3; /* Add a blue box shadow for the glow effect */
    transition: box-shadow 0.5s; /* Add a transition for smooth effect */
}

/* Style for the login-button on hover (optional) */
.login-button:hover {
    box-shadow: 0 0 15px 4px #2196F3; /* Increase the box shadow on hover for a stronger glow */
}

/* Style for the search input container */
.search-input {
    display: flex;
    align-items: center;
}

/* Style for the search input field */
.search-input input[type="text"] {
    flex: 1;
    padding-right: 40px; /* Adjust the padding to control the distance between input and icon */
}

/* Style for the search button */
.search-button {
    background: beige;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    position: relative;
}

/* Style for the search icon */
.search-button i {
    position: absolute;
    right: 5px; /* Adjust the position as needed */
    font-size: 20px; /* Adjust the icon size as needed */
    color: #333; /* Adjust the icon color as needed */
}

