
    <!-- ========== header============= -->
    <header class="header-area style-1">
        <div class="container-fluid d-flex justify-content-between align-items-center">
            <div class="header-logo">
                <a href="index.html" class="animated-text">
                    <h5>
                        <span class="word">
                            <span class="letter">𝔼</span>
                            <span class="letter">𝕃</span>
                            <span class="letter">𝕀</span>
                            <span class="letter">𝕋</span>
                            <span class="letter">𝔼</span>
                        </span>
                        
                        <span class="word">
                            <span class="letter">𝕊</span>
                            <span class="letter">𝕋</span>
                            <span class="letter">𝔸</span>
                            <span class="letter">ℝ</span>
                        </span>
                    </h5>
                </a>
            </div>

            <ul class="menu-list">
                <li class="menu-item-has-children">
                    <a routerLink="/home">Home</a><i class='bx bxs-circle dropdown-icon'></i>

                </li>
                <li class="menu-item-has-children">
                    <a href="about-me.html">About</a><i class='bx bxs-circle dropdown-icon'></i>
                    <ul class="submenu">
                        <li><a href="about-me.html">About Me</a></li>
                        <li><a href="about-us.html">About Us</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children">
                    <a href="portfolio-column-four.html">Portfolio</a><i class='bx bxs-circle dropdown-icon'></i>
                    <ul class="submenu">
                         <li><a href="portfolio-column-two.html">Portfolio Grid 02</a></li>
                            <li><a href="portfolio-column-three.html">Portfolio Grid 03</a></li>
                            <li><a href="portfolio-column-four.html">Portfolio Grid 04</a></li>
                            <li><a href="portfolio-into-flow.html">Portfolio Info Flow</a></li>
                            <li><a href="portfolio-masonary.html">Portfolio Masonary</a></li>
                            <li><a href="portfolio-slider.html">Portfolio Slider</a></li>
                            <li><a href="portfolio-text-down.html">Portfolio Text Down</a></li>
                            <li><a href="portfolio-details.html">Portfolio Details</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children">
                    <a href="blog-grid-one.html">Blog</a><i class='bx bxs-circle dropdown-icon'></i>
                    <ul class="submenu">
                        <li><a href="blog-grid-one.html">Blog Grid One</a></li>
                        <li><a href="blog-standard-one.html">Blog Standard 01</a></li>
                        <li><a href="blog-standard-two.html">Blog Standard 02</a></li>
                        <li><a href="blog-standard-three.html">Blog Standard 03</a></li>
                        <li><a href="blog-details.html">Blog Details</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children">
                    <a href="#">Pages</a><i class='bx bxs-circle dropdown-icon'></i>
                    <ul class="submenu">
                        <li><a href="gallery-column-four.html">Gallery Column Four</a></li>
                        <li><a href="gallery-fullwidth.html">Gallery Full Width</a></li>
                        <li><a href="gallery-parallax.html">Gallery Parallax</a></li>
                        <li><a href="pricing.html">Pricing</a></li>
                        <li><a href="client.html">Client</a></li>
                        <li><a href="service-one.html">Services</a></li>
                        <li><a href="team-one.html">Team One</a></li>
                        <li><a href="team-two.html">Team Two</a></li>
                        <li><a href="faq.html">Faq</a></li>
                        <li><a href="testimonial.html">Testimonial</a></li>
                        <li><a href="booking.html">Booking</a></li>
                        <li><a href="error.html">Error</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children">
                    <a href="contact-me.html">JOIN US</a><i class='bx bxs-circle dropdown-icon'></i>
                    <ul class="submenu">
                        <li><a routerLink="/registration">Registration</a></li>
                        
                    </ul>
                </li>
            </ul>
            <div class="search-bar">
                <div class="search-input">
                    <input type="text" placeholder="Search">
                    <button type="button" class="search-button">
                        <i class="bx bx-search"></i>
                    </button>
                </div>
            </div>
            
            
             <!-- ========== btn--primary est le cadre de bouton============= -->
            <button class="eg-btn  btn--lg btn-glow-blue login-button" routerLink="/login">Login</button>

        </div>
    </header>

    <!-- ========== header end============= -->

    <!-- ====== sidebar start ======== -->
    <div class="main-nav-wrapper">
        <div class="main-nav-js">
            <div class="menu-close-btn"><i class="bi bi-x-lg"></i></div>
            <div class="mobile-logo-area d-flex justify-content-start align-items-center">
                <div class="header-logo">
                    <a href="index.html"><img alt="image" class="img-fluid" src="assets/images/bg/header-logo.svg"></a>
                </div>
            </div>
            <div class="sidebar-menu-area">
                <ul class="menu-list">
                    <li class="menu-item-has-children menu-item">
                        <a href="#" class="drop-down" data-hover='Home'> Home</a><i class='bi bi-plus dropdown-icon'></i>
                        <ul class="sub-menu">
                            <li><a href="index.html">Home One</a></li>
                            <li><a href="index2.html">Home Two</a></li>
                            <li><a href="index-pagination-slider.html">Home Pagination Slider</a></li>
                            <li><a href="index-masonary.html">Home Masonary</a></li>
                            <li><a href="index-carousel.html">Home Carousel</a></li>
                            <li><a href="index-portfolio.html">Home Portfolio</a></li>
                             
                            <li><a href="index-video.html">Home Video</a></li>
                             <li><a href="index-center-slider.html">Home Center Slide</a></li>
                             <li><a href="index-bg-image.html">Home Image Background</a></li>
                            <li><a href="index-fixed-sidebar.html">Home Fixed Sidebar</a></li>
                        </ul>
                    </li>

                    <li class="menu-item-has-children menu-item">
                        <a href="#" class="drop-down" data-hover='About'> About</a><i
                            class='bi bi-plus dropdown-icon'></i>
                        <ul class="sub-menu">
                            <li><a href="about-me.html">About Me</a></li>
                            <li><a href="about-us.html">About Us</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children menu-item">
                        <a href="portfolio-column-four.html" data-hover='Portfolio'> Portfolio</a><i
                            class='bi bi-plus dropdown-icon'></i>
                        <ul class="sub-menu">
                            <li><a href="portfolio-column-two.html">Portfolio Grid 02</a></li>
                            <li><a href="portfolio-column-three.html">Portfolio Grid 03</a></li>
                            <li><a href="portfolio-column-four.html">Portfolio Grid 04</a></li>
                            <li><a href="portfolio-text-down.html">Portfolio Text Down</a></li>
                            <li><a href="portfolio-details.html">Portfolio Details</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children menu-item">
                        <a href="#" class="drop-down" data-hover='Pages'> Pages</a><i
                            class='bi bi-plus dropdown-icon'></i>
                        <ul class="sub-menu">
                            <li><a href="gallery-column-four.html">Gallery Column Four</a></li>
                        <li><a href="gallery-fullwidth.html">Gallery Full Width</a></li>
                        <li><a href="gallery-parallax.html">Gallery Parallax</a></li>
                        <li><a href="pricing.html">Pricing</a></li>
                            <li><a href="client.html">Client</a></li>
                            <li><a href="service-one.html">Services</a></li>
                            <li><a href="team-one.html">Team One</a></li>
                            <li><a href="team-two.html">Team Two</a></li>
                            <li><a href="faq.html">Faq</a></li>
                        <li><a href="testimonial.html">Testimonial</a></li>
                            <li><a href="booking.html">Booking</a></li>
                        <li><a href="error.html">Error</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children menu-item">
                        <a href="blog-grid-one.html" data-hover='Blog'>Blog</a><i
                            class='bi bi-plus dropdown-icon'></i>
                        <ul class="sub-menu">
                            <li><a href="blog-grid-one.html">Blog Grid One</a></li>
                            <li><a href="blog-standard-one.html">Blog Standard 01</a></li>
                            <li><a href="blog-standard-two.html">Blog Standard 02</a></li>
                        <li><a href="blog-standard-three.html">Blog Standard 03</a></li>
                            <li><a href="blog-details.html">Blog Details</a></li>
                        </ul>
                    </li>

                    <li class="menu-item-has-children menu-item">
                        <a href="#" class="drop-down" data-hover='Contact'> Contact</a><i
                            class='bi bi-plus dropdown-icon'></i>
                        <ul class="sub-menu">
                            <li><a href="contact-me.html">Registration</a></li>
                            <li><a href="contact-us.html">Contact Us</a></li>
                        </ul>
                        
                    </li>
                   
                </ul>
                
            </div>
            <div class="sidebar-social d-flex justify-content-center gap-5">
                <a href="https://www.instagram.com/"><img src="assets/images/icons/instagram.svg" alt="image"></a>
                <a href="https://www.dribbble.com/"><img src="assets/images/icons/dribbble.svg" alt="image"></a>
                <a href="https://www.pinterest.com/"><img src="assets/images/icons/pinterest.svg" alt="image"></a>
                <a href="https://www.twitter.com/"><img src="assets/images/icons/Twitter.svg" alt="image"></a>

            </div>
           
        </div>
         </div>
    

    <!-- ====== sidebar end ======== -->
    