<app-sidebar></app-sidebar>

   
    <!-- ========== left social start============= -->

    <div class="left-fixed-social">
        <ul class="social-three">
            <li>
              <a href="https://www.instagram.com/"><i class='bx bxl-linkedin'></i></a>
            </li>
            <li>
              <a href="https://www.dribbble.com/"><i class='bx bxl-pinterest-alt' ></i></a>
            </li>
            <li>
              <a href="https://www.pinterest.com/"><i class='bx bxl-instagram' ></i></a>
            </li>
            <li>
              <a href="https://www.twitter.com/"><i class='bx bxl-facebook' ></i></a>
            </li>
          </ul>
    </div>

    <!-- ========== left social end============= -->

    


    <!-- ========== about start============= -->

    <div class="about-section section-common2 pt-120 pb-120 pl-80">
        <div class="container">
            <div class="row align-items-end justify-content-start">
                <div class="col-xl-7 pe-lg-5 pe-0">
                    
                    <div class="counter-wrapper row justify-content-center g-4">
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="counter-single text-center d-flex flex-column hover-border1">
                                <div class="coundown d-flex flex-column">
                                    <p>Under</p>
                                    <div class="d-flex flex-row justify-content-center align-items-center gap-2">
                                        <h3 class="odometer" data-odometer-final="50">25</h3><span>Dt</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="counter-single text-center d-flex flex-column hover-border1">
                                <div class="coundown d-flex flex-column">
                                    <p>Under</p>
                                    <div class="d-flex flex-row justify-content-center align-items-center gap-2">
                                        <h3 class="odometer" data-odometer-final="50">50</h3><span>Dt</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="counter-single text-center d-flex flex-column hover-border1">
                                <div class="coundown d-flex flex-column">
                                    <p>Under</p>
                                    <div class="d-flex flex-row justify-content-center align-items-center gap-2">
                                        <h3 class="odometer" data-odometer-final="50">150</h3><span>Dt</span>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        
                    </div>
                   
                </div>
                
            </div>
        </div>
    </div>

    <!-- ========== about end============= -->

        
    <!-- ========== team start============= -->

    <div class="contact-section3 section-common2 pb-120 pl-80 mb-44">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="section-title-two">
                        <h2>Get In Touch</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center align-items-center">
                <div class="col-xl-7 col-lg-6">
                    <h3 class="form-title">Have Any Questions</h3>
                    <form class="contact-me-form">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-inner">
                                    <input type="text" placeholder="Enter your name">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-inner">
                                    <input type="text" placeholder="Enter your email">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-inner">
                                    <input type="text" placeholder="Querry">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-inner">
                                    <textarea rows="6" placeholder="Write Your message"></textarea>
                                </div>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="eg-btn btn--primary btn--lg">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-xl-5 col-lg-6 ps-lg-4 ps-auto">
                    <div class="contact-content">
                        <h2><span>Let’s talk</span>About Your Photography.</h2>
                        <p>I started getting on into photography when my family moved from oni Nevada to Ohio gong toubleta.I started getting on into photographyai when my family moved from Nevada to.</p>
                    </div>
                    <div class="phone-block">
                        <div class="phone-title">Urgent? <span>Call Me</span></div>
                        <h4><a href="tel:+012-3456-789102">+012-3456-789102</a></h4>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
    
    <!-- ========== team-section end============= --> 

    <!-- ========== footer_section start======== -->
<app-footer></app-footer>
   




