
    <app-sidebar></app-sidebar>
    <!-- ========== breadcrumb start============= -->

    <div class="bread-crumb-section">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-8 d-flex justify-content-lg-start justify-content-center flex-column">
                    <h2 class="bread-crumb-title">Registration</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb gap-3 m-0 p-0">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Registration</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <!-- ========== breadcrumb end============= -->
   

    <div class="contact-section bg-color2 pt-120 pb-120 mb-44">
        <div class="container">
          <div class="row justify-content-center gy-5">
            <div class="col-xl-5 col-lg-6 col-md-6 col-sm-10">
              <h3 class="form-title">Register to become an EliteStar partner</h3>
              <form (ngSubmit)="onSubmit()" class="contact-me-form">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-inner">
                      <label for="firstName">First Name:</label>
                      <input type="text" id="firstName" name="firstName" [(ngModel)]="user.firstName" placeholder="Enter your first name" required>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-inner">
                      <label for="lastName">Last Name:</label>
                      <input type="text" id="lastName" name="lastName" [(ngModel)]="user.lastName" placeholder="Enter your last name" required>
                    </div>
                  </div>
                  
                  
                  <div class="col-lg-6">
                    <div class="form-inner">
                      <label for="email">Email:</label>
                      <input type="email" id="email" name="email" [(ngModel)]="user.email" placeholder="Enter your email" required>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-inner">
                      <label for="numPhone">Phone Number:</label>
                      <input type="tel" id="numPhone" name="numPhone" [(ngModel)]="user.numPhone" placeholder="Enter your phone number" required>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-inner">
                      <label for="password">Password:</label>
                      <input type="password" id="password" name="password" [(ngModel)]="user.password" placeholder="Choose a password" required>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-inner">
                      <label for="description">Description:</label>
                      <textarea id="description" name="description" rows="6" [(ngModel)]="user.description" placeholder="Tell us about yourself"></textarea>
                    </div>
                  </div>
                  <div class="col-12">
                    <button type="submit" class="eg-btn btn--primary btn--lg">Register</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      
    
         <!-- ========== team-section end============= --> 

     <!-- ========== footer_section start======== -->

   
    <app-footer></app-footer>