
<body class="tt-magic-cursor">

    <div class="preloader">
        <div class="counter">0</div>
    </div>
    
    <div id="magic-cursor">
        <div id="ball"></div>
    </div>

    <!-- ========== header============= -->
    <header class="header-area style-1">
        <div class="container-fluid d-flex justify-content-between align-items-center">
            <div class="header-logo">
                <a href="index.html"><img alt="image" class="img-fluid" src="assets/images/bg/header-logo.svg"></a>
            </div>

            <ul class="menu-list">
                <li class="menu-item-has-children">
                    <a href="index.html">Home</a><i class='bx bxs-circle dropdown-icon'></i>
                    <ul class="submenu">
                        <li><a href="index.html">Home One</a></li>
                            <li><a href="index2.html">Home Two</a></li>
                            <li><a href="index-pagination-slider.html">Home Pagination Slider</a></li>
                            <li><a href="index-masonary.html">Home Masonary</a></li>
                            <li><a href="index-carousel.html">Home Carousel</a></li>
                            <li><a href="index-portfolio.html">Home Portfolio</a></li>
                             
                            <li><a href="index-video.html">Home Video</a></li>
                             <li><a href="index-center-slider.html">Home Center Slide</a></li>
                             <li><a href="index-bg-image.html">Home Image Background</a></li>
                            <li><a href="index-fixed-sidebar.html">Home Fixed Sidebar</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children">
                    <a href="about-me.html">About</a><i class='bx bxs-circle dropdown-icon'></i>
                    <ul class="submenu">
                        <li><a href="about-me.html">About Me</a></li>
                        <li><a href="about-us.html">About Us</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children">
                    <a href="portfolio-column-four.html">Portfolio</a><i class='bx bxs-circle dropdown-icon'></i>
                    <ul class="submenu">
                         <li><a href="portfolio-column-two.html">Portfolio Grid 02</a></li>
                            <li><a href="portfolio-column-three.html">Portfolio Grid 03</a></li>
                            <li><a href="portfolio-column-four.html">Portfolio Grid 04</a></li>
                            <li><a href="portfolio-into-flow.html">Portfolio Info Flow</a></li>
                            <li><a href="portfolio-masonary.html">Portfolio Masonary</a></li>
                            <li><a href="portfolio-slider.html">Portfolio Slider</a></li>
                            <li><a href="portfolio-text-down.html">Portfolio Text Down</a></li>
                            <li><a href="portfolio-details.html">Portfolio Details</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children">
                    <a href="blog-grid-one.html">Blog</a><i class='bx bxs-circle dropdown-icon'></i>
                    <ul class="submenu">
                        <li><a href="blog-grid-one.html">Blog Grid One</a></li>
                        <li><a href="blog-standard-one.html">Blog Standard 01</a></li>
                        <li><a href="blog-standard-two.html">Blog Standard 02</a></li>
                        <li><a href="blog-standard-three.html">Blog Standard 03</a></li>
                        <li><a href="blog-details.html">Blog Details</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children">
                    <a href="#">Pages</a><i class='bx bxs-circle dropdown-icon'></i>
                    <ul class="submenu">
                        <li><a href="gallery-column-four.html">Gallery Column Four</a></li>
                        <li><a href="gallery-fullwidth.html">Gallery Full Width</a></li>
                        <li><a href="gallery-parallax.html">Gallery Parallax</a></li>
                        <li><a href="pricing.html">Pricing</a></li>
                        <li><a href="client.html">Client</a></li>
                        <li><a href="service-one.html">Services</a></li>
                        <li><a href="team-one.html">Team One</a></li>
                        <li><a href="team-two.html">Team Two</a></li>
                        <li><a href="faq.html">Faq</a></li>
                        <li><a href="testimonial.html">Testimonial</a></li>
                        <li><a href="booking.html">Booking</a></li>
                        <li><a href="error.html">Error</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children">
                    <a href="contact-me.html">Contact</a><i class='bx bxs-circle dropdown-icon'></i>
                    <ul class="submenu">
                        <li><a href="contact-me.html">Registration</a></li>
                        <li><a href="contact-us.html">Contact Us</a></li>
                    </ul>
                </li>
            </ul>

            <div class="sidebar-button mobile-menu-btn">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </header>

    <!-- ========== header end============= -->

    <!-- ====== sidebar start ======== -->
    <div class="main-nav-wrapper">
        <div class="main-nav-js">
            <div class="menu-close-btn"><i class="bi bi-x-lg"></i></div>
            <div class="mobile-logo-area d-flex justify-content-start align-items-center">
                <div class="header-logo">
                    <a href="index.html"><img alt="image" class="img-fluid" src="assets/images/bg/header-logo.svg"></a>
                </div>
            </div>
            <div class="sidebar-menu-area">
                <ul class="menu-list">
                    <li class="menu-item-has-children menu-item">
                        <a href="#" class="drop-down" data-hover='Home'> Home</a><i class='bi bi-plus dropdown-icon'></i>
                        <ul class="sub-menu">
                            <li><a href="index.html">Home One</a></li>
                            <li><a href="index2.html">Home Two</a></li>
                            <li><a href="index-pagination-slider.html">Home Pagination Slider</a></li>
                            <li><a href="index-masonary.html">Home Masonary</a></li>
                            <li><a href="index-carousel.html">Home Carousel</a></li>
                            <li><a href="index-portfolio.html">Home Portfolio</a></li>
                             
                            <li><a href="index-video.html">Home Video</a></li>
                             <li><a href="index-center-slider.html">Home Center Slide</a></li>
                             <li><a href="index-bg-image.html">Home Image Background</a></li>
                            <li><a href="index-fixed-sidebar.html">Home Fixed Sidebar</a></li>
                        </ul>
                    </li>

                    <li class="menu-item-has-children menu-item">
                        <a href="#" class="drop-down" data-hover='About'> About</a><i
                            class='bi bi-plus dropdown-icon'></i>
                        <ul class="sub-menu">
                            <li><a href="about-me.html">About Me</a></li>
                            <li><a href="about-us.html">About Us</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children menu-item">
                        <a href="portfolio-column-four.html" data-hover='Portfolio'> Portfolio</a><i
                            class='bi bi-plus dropdown-icon'></i>
                        <ul class="sub-menu">
                            <li><a href="portfolio-column-two.html">Portfolio Grid 02</a></li>
                            <li><a href="portfolio-column-three.html">Portfolio Grid 03</a></li>
                            <li><a href="portfolio-column-four.html">Portfolio Grid 04</a></li>
                            <li><a href="portfolio-text-down.html">Portfolio Text Down</a></li>
                            <li><a href="portfolio-details.html">Portfolio Details</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children menu-item">
                        <a href="#" class="drop-down" data-hover='Pages'> Pages</a><i
                            class='bi bi-plus dropdown-icon'></i>
                        <ul class="sub-menu">
                            <li><a href="gallery-column-four.html">Gallery Column Four</a></li>
                        <li><a href="gallery-fullwidth.html">Gallery Full Width</a></li>
                        <li><a href="gallery-parallax.html">Gallery Parallax</a></li>
                        <li><a href="pricing.html">Pricing</a></li>
                            <li><a href="client.html">Client</a></li>
                            <li><a href="service-one.html">Services</a></li>
                            <li><a href="team-one.html">Team One</a></li>
                            <li><a href="team-two.html">Team Two</a></li>
                            <li><a href="faq.html">Faq</a></li>
                        <li><a href="testimonial.html">Testimonial</a></li>
                            <li><a href="booking.html">Booking</a></li>
                        <li><a href="error.html">Error</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children menu-item">
                        <a href="blog-grid-one.html" data-hover='Blog'>Blog</a><i
                            class='bi bi-plus dropdown-icon'></i>
                        <ul class="sub-menu">
                            <li><a href="blog-grid-one.html">Blog Grid One</a></li>
                            <li><a href="blog-standard-one.html">Blog Standard 01</a></li>
                            <li><a href="blog-standard-two.html">Blog Standard 02</a></li>
                        <li><a href="blog-standard-three.html">Blog Standard 03</a></li>
                            <li><a href="blog-details.html">Blog Details</a></li>
                        </ul>
                    </li>

                    <li class="menu-item-has-children menu-item">
                        <a href="#" class="drop-down" data-hover='Contact'> Contact</a><i
                            class='bi bi-plus dropdown-icon'></i>
                        <ul class="sub-menu">
                            <li><a href="contact-me.html">Registration</a></li>
                            <li><a href="contact-us.html">Contact Us</a></li>
                        </ul>
                        
                    </li>
                   
                </ul>
                
            </div>
            <div class="sidebar-social d-flex justify-content-center gap-5">
                <a href="https://www.instagram.com/"><img src="assets/images/icons/instagram.svg" alt="image"></a>
                <a href="https://www.dribbble.com/"><img src="assets/images/icons/dribbble.svg" alt="image"></a>
                <a href="https://www.pinterest.com/"><img src="assets/images/icons/pinterest.svg" alt="image"></a>
                <a href="https://www.twitter.com/"><img src="assets/images/icons/Twitter.svg" alt="image"></a>

            </div>
           
        </div>
         </div>
    

    <!-- ====== sidebar end ======== -->
    
    <!-- ========== breadcrumb start============= -->

    <div class="bread-crumb-section">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-8 d-flex justify-content-lg-start justify-content-center flex-column">
                    <h2 class="bread-crumb-title">Registration</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb gap-3 m-0 p-0">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Registration</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <!-- ========== breadcrumb end============= -->
   

    <div class="contact-section bg-color2 pt-120 pb-120 mb-44">
        <div class="container">
          <div class="row justify-content-center gy-5">
            <div class="col-xl-5 col-lg-6 col-md-6 col-sm-10">
              <h3 class="form-title">Register to become an EliteStars partner</h3>
              <form (ngSubmit)="onSubmit()" class="contact-me-form">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-inner">
                      <label for="firstName">First Name:</label>
                      <input type="text" id="firstName" name="firstName" [(ngModel)]="user.firstName" placeholder="Enter your first name" required>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-inner">
                      <label for="lastName">Last Name:</label>
                      <input type="text" id="lastName" name="lastName" [(ngModel)]="user.lastName" placeholder="Enter your last name" required>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-inner">
                      <label for="username">Username:</label>
                      <input type="text" id="username" name="username" [(ngModel)]="user.username" placeholder="Choose a username" required>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-inner">
                      <label for="email">Email:</label>
                      <input type="email" id="email" name="email" [(ngModel)]="user.email" placeholder="Enter your email" required>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-inner">
                      <label for="numPhone">Phone Number:</label>
                      <input type="tel" id="numPhone" name="numPhone" [(ngModel)]="user.numPhone" placeholder="Enter your phone number" required>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-inner">
                      <label for="password">Password:</label>
                      <input type="password" id="password" name="password" [(ngModel)]="user.password" placeholder="Choose a password" required>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-inner">
                      <label for="description">Description:</label>
                      <textarea id="description" name="description" rows="6" [(ngModel)]="user.description" placeholder="Tell us about yourself"></textarea>
                    </div>
                  </div>
                  <div class="col-12">
                    <button type="submit" class="eg-btn btn--primary btn--lg">Register</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      
    
         <!-- ========== team-section end============= --> 

     <!-- ========== footer_section start======== -->

   <footer>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="copyright">
                    © 2022 <a href="#">PicsZen</a> is Proudly Powered by <a href="https://themeforest.net/category/site-templates?term=egenslab" class="egns-lab">Egens Lab</a>.
                </div>
            </div>
        </div>
    </div>
   </footer>

    <!-- ========== footer_section end======== -->